body{
	background:#61122f;
}
/***************************HEADER******************************/
#header-nav{
	background: #f6b319;
	border:none;
	border-radius: 0;
}
#logo{
	background: url(../pictures/Untitled-2.jpg) no-repeat;
	width: 140px;
	height: 90px;
	margin: 
}
.navbar-brand a h1 {
	font-size: 2.9em;
	margin-top: 10px;
	color: #61122f;
}
.navbar-brand a:hover{
	text-decoration: none;
	/*color: black;*/
}
.navbar-header button.navbar-toggle{

	border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle span{

	border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle{

	clear:both; 
}
#nav-list a{
   margin-top: 20px;
   font-size: 1.5em;
   color: black;
}
#nav-list a:hover{
	color: blue;
}
#main-content .container{

	height: 500px;
}
.container .jumbotron{
		padding-left: 5px;
		padding-right: 5px;
		padding-bottom: 5px;
		padding-top: 5px;
		box-shadow: 0 0 50px #3f0c1f;
		border: 3px solid #black;
		background: #61122f;
}



}
///////////*****************************END HEADER***********************************///////////



/*********************************large-device*****************************/
@media (min-width: 1200px){
	
	.container .jumbotron{
		background: url(../pictures/jumbotron_1200.jpg) no-repeat;
		height: 670px;
	}
	.abcd p{
	width: auto;
	margin-top: 20px;
	padding-left: 160px;}
	.abcd{
		height: 170px;
	}
	.detail .jumbotron{
		font-size: 26px;
		color: white;
	}
	 

}
/*******************************medium-device*****************************/
@media (max-width: 1199) and (min-width: 992px){
	  .contaoner .jumbotron{
	}
	.abcd p{
     width: 650px;
	margin-top: 20px;
	padding-left: 160px;}
	.abcd{
		height: 170px;
	}
	.container .detail .jumbotron{
		font-size: 36px;
		color: white;
	}
	
	

}
/*********************************small-device*****************************/
@media (max-width: 991) and (min-width:768px){
	 .container .jumbotron{
	 	background: url(../pictures/jumbotron_768.jpg) no-repeat;
	 	height: 300px;
	 	.abcd{
		height: 170px;
	}
	.container .detail .jumbotron{
		font-size: 60px;
		color: white;
	}
	
	

	}/*
	.abcd {
	border: 2px solid yellow;
	width: 500px;
	height: 170px;
	border-radius: 15px;
	margin: 15px;}*/
	.abcd p{
	width: auto;
	margin-top: 20px;
	padding-left: 160px;}
}
/*********************************xtrasmall-device*****************************/
@media (min-width:375px) and (max-width: 767px){
	#logo{
	background: url(../pictures/Untitled-2 logo-medium.jpg) no-repeat;
	width: 125px;
	height: 80px;}

	.navbar-brand a h1 {
	font-size: 2.3em;
	margin-top: 15px;
	color: #61122f;}
	.container .jumbotron{
	}
	
	


     

}
/**********************************extreme-small*******************************/
@media (max-width: 320px){
	#logo{
	background: url(../pictures/Untitled-2 extreme small.jpg) no-repeat;
	width:118px;
	height: 92px;}

	.navbar-brand a h1 {
	font-size: 1.5em;
	margin-top: 20px;
	color: #61122f;}

	.container .jumbotron{
		padding-left: 5px;
		padding-right: 5px;
		box-shadow: 0 0 50px #3f0c1f;
		border: 3px solid black;
		background-color: #61122f;
	}
	.container .jumbotron table {
          font-size: 16px;
	}

}


 .description p{
	text-align: justify;
	color:white;
	font-size: 1.2em;
}
.panel-footer{
	padding: 0;
	background: #2f2f1e;
	border: none;
}
.panel-footer .container p {
	text-align: center;
	background: #2f2f1e;
	margin-top: 8px;
	opacity: .6;
	color: white;
	padding: 0;
	box-shadow: 0 0 50px solid #2f2f1e;


}
 

 /////*******************************IMAGE-PAGE**************************************///////


.category-tile{
	
	position: relative;
	border: 2px solid black;
	margin: 0 0 15px 10px;
	overflow: hidden;
	width: 250;

	
} 
.category-tile span{
	
	/*position:absolute;*/
	text-align: center;
}
.col-md-3{
    padding-left: 25px;
	margin-left: 0px;
}
.row .col-xs-12 {
	/*margin-left: 40px;*/
	/*margin-right: 10px;*/
	align-content: center;
}













/////***************************clss-page*****************************************////
#row .category-tile p .information {
	font-size: 1.2em;
	color: white;
}
.category-tile {
	border: 2px solid yellow;
	width: 155px;
	height: 170px;
	border-radius: 15px;
	margin: 15px;
}
#info-content a:hover{
	color: red;
	text-decoration: none;
}





/********************************************abt-page************************************/
.description-abt{
	color: white;
	text-align: justify;
}
